
@import '../scss/definitions';

/* *****
Import styles
 */
@import '../scss/styles/forms';
@import '../scss/styles/buttons';

$body-font-family: 'Aventir', sans-serif;

.v-application {
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .headline,
  .title,
  .subtitle-1,
  .subtitle-2,
  .body-1,
  .body-2,
  .caption,
  .overline {
    font-family: $body-font-family !important;
  }
  font-family: $body-font-family !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;

  h1 {
    text-align: center;
  }
  .page-content {
    margin: 1rem auto;
    width: 800px;
  }
  @media all and (max-width: 500px) {
    .page-content {
      margin: 1rem;
      width: 90%;
    }
  }

  .error-text {
    color: $red;
  }
}

.container{
  display: flex;
  flex-direction: column;
}

.fa {
  height: 2rem;
  color: #209cee;
}
