
@import '../scss/definitions';

/* *****
Import styles
 */
@import '../scss/styles/forms';
@import '../scss/styles/buttons';

$body-font-family: 'Aventir', sans-serif;

.v-application {
  .display-1,
  .display-2,
  .display-3,
  .display-4,
  .headline,
  .title,
  .subtitle-1,
  .subtitle-2,
  .body-1,
  .body-2,
  .caption,
  .overline {
    font-family: $body-font-family !important;
  }
  font-family: $body-font-family !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;

  h1 {
    text-align: center;
  }
  .page-content {
    margin: 1rem auto;
    width: 800px;
  }
  @media all and (max-width: 500px) {
    .page-content {
      margin: 1rem;
      width: 90%;
    }
  }

  .error-text {
    color: $red;
  }
}

.container{
  display: flex;
  flex-direction: column;
}

#app-banner {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

#nav {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;

  a {
    font-weight: bold;
    color: $text-color;
    text-decoration: none;
    &.router-link-exact-active {
      color: $active-link-color;
    }
  }
  .nav-spacer {
    width: 2rem;
    text-align: center;
    &::after {
      content: '|';
    }
  }
}
@media all and (max-width: 500px) {
#nav {
  font-weight: normal;
  font-size: 1rem;
}
}
